In [32]:
# Import dependencies
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [33]:
# Load data
file_path = "./loans_data_encoded.csv"
df_loans = pd.read_csv(file_path)
df_loans.head()

,amount,term,age,bad,month_num,education_Bachelor,education_High School or Below,education_Master or Above,education_college,gender_female,gender_male
0,1000,30,45,0,6,0,1,0,0,0,1
1,1000,30,50,0,7,1,0,0,0,1,0
2,1000,30,33,0,8,1,0,0,0,1,0
3,1000,15,27,0,9,0,0,0,1,0,1
4,1000,30,28,0,10,0,0,0,1,1,0

In [34]:
# Define the features set.
X = df_loans[["amount", "term", "month_num", "age"]]
X.head()

   amount  term  month_num  age
0    1000    30          6   45
1    1000    30          7   50
2    1000    30          8   33
3    1000    15          9   27
4    1000    30         10   28

In [35]:
# Define the target set.
y = df_loans["bad"].ravel()
y[:5]

array([0, 0, 0, 0, 0], dtype=int64)

In [36]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 78)

In [37]:
# Creating a StandardScaler instance
scaler = StandardScaler()

# Fitting the Standard Scaler with the training data
X_scaler = scaler.fit(X_train)

# Scaling the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [38]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators = 500, random_state = 78)

In [39]:
# Fitting the model
rf_moel = rf_model.fit(X_train_scaled, y_train)

In [40]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [41]:
predictions

array([1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1], dtype=int64)

In [42]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0           51           33
Actual 1           24           17

In [43]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [44]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score: {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           51           33
Actual 1           24           17

Accuracy Score: 0.544
Classification Report
              precision    recall  f1-score   support

           0       0.68      0.61      0.64        84
           1       0.34      0.41      0.37        41

    accuracy                           0.54       125
   macro avg       0.51      0.51      0.51       125
weighted avg       0.57      0.54      0.55       125

In [45]:
# Calculate the feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.06079747, 0.09782338, 0.33799017, 0.50338898])

In [46]:
# Sort the features by their importance
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.5033889760786232, 'age'),
 (0.3379901749518571, 'month_num'),
 (0.09782337545760587, 'term'),
 (0.06079747351191378, 'amount')]